* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: linear-gradient(90deg, #ff512f, #dd2476);
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #36d1dc, #5b86e5);
  color: white;
  text-align: center;
}

/* ABOUT */
.about {
  padding: 80px 40px;
  background: #fff7e6;
  text-align: center;
}

.about h2 {
  color: #ff512f;
  margin-bottom: 20px;
}

.about-box {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* CONTACT */
.contact {
  padding: 80px 40px;
  text-align: center;
  background: #f0f0ff;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background: #dd2476;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}